.site-header {
    z-index: 5;
    position: absolute;
    top: 65px;
    left: 0;
    right: 0;
    width: 100%;
    &.prepare {
        top: -65px;
    }
    &.scrolled {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: #333;
            -webkit-transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        -o-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
    }
}

.logo {
    img {
        display: block;
        max-width: 100%;
    }
}

.header-menu {
    > ul {
        list-style: none;

        > .menu-item {
            display: inline-block;
            margin-right: 5px;
            position: relative;
            &:after {
                width: 100%;
                height: 14px;
                position: absolute;
                display: block;
                content: "";
                bottom: -10px;
                left: 0;
                visibility: visible;
                opacity: 1;
            }
            > a {
                display: block;
                padding: 8px 15px;
                color: #fff;
                text-transform: uppercase;
                border-radius: 20px;
                -webkit-transition: background-color 0.3s ease;
                -o-transition: background-color 0.3s ease;
                transition: background-color 0.3s ease;
                font-family: $osb;

                &:hover {
                    text-decoration: none;
                    background-color: #ffc300; 
                }
            }
            &.active,
            &:hover {
                > a {
                    text-decoration: none;
                    background-color: #ffc300; 
                }
            }
            &:hover {
                .sub-menu {
                    top: 45px;
                    opacity: 1;
                    visibility: visible;
                }
                .product-submenu {
                    opacity: 1;
                    visibility: visible;
                    top: 50px;
                }
            }
            >.sub-menu {
                position: absolute;
                top: 70px;
                left: 0px;
                z-index: 999;
                opacity: 0;
                box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
                min-width: 500px;
                -webkit-transition: all 0.3s ease-in-out 0s;
                -moz-transition: all 0.3s ease-in-out 0s;
                -o-transition: all 0.3s ease-in-out 0s;
                transition: all 0.3s ease-in-out 0s;
                visibility: hidden;
                background-color: #FFF;
                ul {
                    min-width: 250px;
                    padding: 0 30px 10px 30px;
                    float: left;
                    background: #fff;
                    list-style-type: none;
                    li {
                        position: relative;
                        border-bottom: 1px solid #e8e8e8;
                        a {
                            line-height: 40px;
                            display: block;
                            color: #666666;
                            position: relative;
                        }
                        &.hasSub:after {
                            color: #666;
                            content: "\f105";
                            font-family: "FontAwesome";
                            font-size: 14px;
                            height: 19px;
                            position: absolute;
                            right: -5px;
                            top: 50%;
                            margin-top: -10px;
                            width: 19px;
                            z-index: 9;
                        }
                        &:last-child {
                            border-bottom: none;
                        }
                        &:hover {
                            > a, &:after {
                                color: $yellow;
                            }
                            .sub-menu {
                                left: 190px;
                                opacity: 1;
                                visibility: visible;
                                -webkit-box-shadow: 0 0 6px rgba(0,0,0,.4);
                                        box-shadow: 0 0 6px rgba(0,0,0,.4);
                            }
                        }
                    }
                }
                .sub-menu {
                    position: absolute;
                    top: 0;
                    left: 250px;
                    background: #fff;
                    opacity: 0;
                    visibility: hidden;
                    -webkit-transition: all 0.3s ease-in-out 0s;
                    -moz-transition: all 0.3s ease-in-out 0s;
                    -o-transition: all 0.3s ease-in-out 0s;
                    transition: all 0.3s ease-in-out 0s;
                    z-index: 10;
                    li {
                        a {
                            
                        }
                        &:hover {
                            a {
                                color: $yellow;
                            }
                        }
                    }
                }
            }
        }
    }
}


.product-submenu {
    width: 1170px;
    padding: 0;
    margin-top: -5px;
    overflow: hidden;
    background: #ffffff;
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 999;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out 0s;
    padding: 30px 0 20px 0;
    opacity: 0;
    visibility: hidden;
    &__big {
        padding: 0 30px;
        width: 590px;
        position: relative;
        float: left;
    }
    &__small {
        width: 580px;
        float: left;
        position: relative;
        padding: 0 30px;
        border-left: 1px solid #e8e8e8;
        .item {
            width: 275px;
            padding: 0 15px !important;
            margin-bottom: 30px;
        }
    }
    .title {
        border-bottom: 1px solid #e8e8e8;
        margin-bottom: 15px;
        color: #333333;
        font-weight: 500;
        line-height: 28px;
        font-size: 230.76%;
        text-transform: capitalize;
        margin-top: 0;
        display: block;
        padding-bottom: 10px;
    }
    .product {
        padding: 0;
        &:after {
            visibility: hidden;
            display: block;
            font-size: 0;
            content: " ";
            clear: both;
            height: 0;
        }
    }
    .slick-slider {
        padding-top: 0;
    }
    .slick-arrow {
        top: -45px;
    }
    .slick-arrow.slick-next {
        left: 90%;
    }
    .slick-arrow.slick-prev {
        right: 11%;
        left: auto;
    }
}

.search {
    position: relative;
    text-align: right;
    color: #fff;
    position: relative;

    .fa-search {
        cursor: pointer;
    }

    .search-bar {
        position: absolute;
        right: 0;
        bottom: -58px;
        width: 312px;

        margin-bottom: -20px;
        visibility: hidden;
        opacity: 0;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;

        &.active {
            margin-bottom: 0;
            visibility: visible;
            opacity: 1;
        }

        form {
            width: 100%;
            @include flex();
        }

        .input-search,
        .button-search {
            display: inline-block;
            vertical-align: middle;
        }

        .input-search {
            width: 270px;
            height: 42px;
            border: 0;
            color: #666;
            padding: 0 15px;
        }

        .button-search {
            width: 42px;
            height: 42px;
            border: 0;
            background-color: $yellow;
        }
    }
}