.post {
    margin: 0 15px;

    .image {
        display: block;
        position: relative;
        overflow: hidden;

        img {
            display: block;
            width: 100%;
            -webkit-transition: all 0.3s ease-in-out 0s;
            -moz-transition: all 0.3s ease-in-out 0s;
            -o-transition: all 0.3s ease-in-out 0s;
            transition: all 0.3s ease-in-out 0s;
        }

        &:after {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            border: 10px solid $yellow;
            opacity: 0;
            visibility: hidden;
            -webkit-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
        }

        &:hover {
            img {
                -webkit-transform: scale(1.1);
                -ms-transform: scale(1.1);
                -o-transform: scale(1.1);
                transform: scale(1.1);
            }

            &:after {
                visibility: visible;
                opacity: .5;
            }
        }
    }


    .info {
        margin-top: 23px;
        text-align: center;

        .title-blog {
            font-size: 123%;
            a {
                color: #333;

                &:hover {
                    color: $yellow;
                }
            }
        }

        .desc {
            margin: 13px 0 10px; 
        }

        .date-comment {
            color: #999999;

            .date,
            .comment {
                padding-right: 10px;
                font-size: 13px;

                .fa {
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 5px;
                }

                a {
                    color: #999;

                    &:hover {
                        color: $yellow;
                    }
                }
            }

            .date {
                margin-right: 10px;
                border-right: 1px solid #e8e8e8;
            }
        }
    }
}