.main-container {
    margin-top: 180px;

    @media (max-width: 991px) {
        margin-top: 0;
    }
}


.breadcrumbs {
    font-size: 13px;

    span {
        font-size: 13px;
        display: inline-block;
        vertical-align: middle;
    }

    li {
        padding: 18px 0;
        display: inline-block;
        vertical-align: baseline;
        line-height: 18px;

        &:not(:last-child):after {
            content: "\f105";
            text-indent: 0;
            font-family: "FontAwesome";
            color: #999999;
            display: inline-block;
            vertical-align: middle;
            margin: 0 4px 0 8px;
        }

        a {
            color: #999999;
            display: inline-block;
            vertical-align: middle;

            &:hover {
                color: $yellow;
            }
        }
    }
}


.wrap-header-specials {
    margin-bottom: 50px;

    h1 {
        width: 100%;
        margin: 0;
        font-size: 230.76%;
        text-transform: uppercase;
        margin: 10px 0 16px 0;
        line-height: 100%;
        font-weight: 500 !important;
    }
}


.accordion {
    margin-bottom: 50px;

    &-link {
        padding: 20px 15px;
        text-transform: uppercase;
        border-top: 1px solid #ccc;
        font-size: 100%;
        cursor: pointer;
        position: relative;

        &:hover {
            color: $yellow;
        }

        &.ui-state-active {
            color: $yellow;
            border-bottom: 0;

            &:last-of-type {
                border-bottom: 0;
            }
        }

        &:last-of-type {
            border-bottom: 1px solid #ccc;
        }

        &:after {
            content: "";
            width: 15px;
            height: 15px;
            position: absolute;
            right: 0;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
            background: url(../images/plus-minus.png) no-repeat 0 0;
        }

        &.ui-state-active:after {
            background: url(../images/plus-minus.png) no-repeat 0 -17px;
        }
    }

    &-content {
        border-top: 1px solid #ccc;
        padding: 15px;
    }
}

.box-img {
    text-align: right;
    margin-bottom: 50px;

    @media (max-width: 991px) {
        text-align: center;
    }

    img {
        max-width: 100%;
    }
}


.team-box {
    padding-bottom: 85px;
}
.teammate {
    font-size: 13px;
    margin-bottom: 15px;

    @media (max-width: 450px) {
        width: 100%;
    }

    &__image {
        display: block;
        margin-bottom: 8px;

        img {
            width: 100%;
            -webkit-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
        }
    }

    &__socials {
        list-style: none;
        @extend %clearfix;

        .s-item {
            float: left;

            a {
                display: block;
                width: 36px;
                height: 36px;
                @extend %vertAlign;
                text-align: center;
                color: #ccc;
                -webkit-transition: all 0.3s ease;
                -o-transition: all 0.3s ease;
                transition: all 0.3s ease;
                font-size: 20px;

                .fa {
                    vertical-align: middle;
                }

                &:hover {
                    background-color: $yellow;
                    color: #fff;
                }
            }
        }
    }

    &__name {
        margin: 10px 0;
        display: block;
        text-transform: uppercase;
        color: #666;

        &:hover {
            color: $yellow;
        }
    }

    &__position {
        display: block;
        margin: 2px 0 12px;
        color: #999;
    }

    &__desc {
        margin-bottom: 20px;
    }

    &__readmore {
        display: inline-block;
        padding: 3px 20px;
        background-color: #666;
        border: 1px solid #e8e8e8;
        border-radius: 10px;
        color: #fff;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;

        &:hover {
            color: #fff;
            background-color: $yellow;
            border-color: $yellow;
        }
    }
}