.mobile-application {
    background: url(../images/bg-banner-home3.png) no-repeat center center fixed;
    background-size: cover;
    padding-top: 15px;

    .row {
        position: relative;
        @extend %vertAlign;

        img {
            margin-left: 70px;
        }

        .info {
            display: inline-block;
            vertical-align: middle;
            padding-left: 70px;color: #fff;

            h3 {
                font-size: 123%;
                color: #fff;
                font-family: $om;
                margin-bottom: 10px;
            }

            h2 {
                font-size: 230%;
                margin-bottom: 20px;
                letter-spacing: 3px;
                font-family: $om;
            }
            p {
                margin-bottom: 30px;
            }
        }
    }
}