.product-view {
    width: 100%;
    @include flex($alignI: flex-start);
    border: 1px solid #e8e8e8;
    padding: 15px 20px;

    .product-image {
        width: 350px;
    }

    .main-product-slider {
        width: 100%;
        padding-bottom: 100%;
        position: relative;

        .slide {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;

            &.disabled {
                z-index: -10;
                display: none;
            }

            img {
                vertical-align: bottom;
                width: 100%;
            }
        }
    }

    .thumbnail-product-slider {
        padding: 0 34px;

        .slick-arrow {
            width: 24px;
            height: 24px;
            top: 50%;
            margin-top: -12px;
            border-radius: 0;
            

            &:before {
                background-image: none;
                font-family: "FontAwesome";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                color: #ccc;
                line-height: 22px;
                text-indent: 0;
                text-align: center;
                font-size: 13px;
                background: none;
            }

            &:hover:before {
                color: #fff;
            }

            &.slick-prev {
                left: 0;
                right: auto;

                &:before {
                    content: '\f104';
                }
            }

            &.slick-next {
                right: 0;
                left: auto;

                &:before {
                    content: '\f105';
                }
            }
        }

        .slick-list {
            padding: 5px 0;
            margin: 0 -1px;
        }

        .slide {
            margin: 0 1px;
            outline: none;

            &.zoomGalleryActive {
                position: relative;

                .thumbnail {
                    border-color: #ffc300;
                }

                &:before {
                    content: "\f0d8";
                    width: 10px;
                    height: 6px;
                    position: absolute;
                    margin-left: -4px;
                    top: -12px;
                    left: 50%;
                    font-family: "FontAwesome";
                    color: #ffc300;
                }
            }
        }

        .thumbnail {
            width: 100%;
            margin-bottom: 0;
            display: block;
        }
    }

    .slider-title {
        text-align: center;
        padding: 5px 0;
        font-size: 13px;
    }

    

    .product-details {
        width: -webkit-calc(100% - 350px);
        width: calc(100% - 350px);
        padding-left: 30px;

        .ratings {
            display: block;
            width: 100%;
            @extend %clearfix;
            margin-bottom: 23px;

            .rating-box {
                background: url(../images/bkg_rating.png) repeat-x scroll 0px 6px transparent;
                display: inline-block;
                height: 17px;
                position: relative;
                vertical-align: middle;
                width: 80px;
                margin: 0 0;
                float: left;
            }

            .rating {
                background: url(../images/bkg_rating.png) repeat-x scroll 0px 100% transparent;
                height: 100%;
                left: 0;
                position: absolute;
                top: 0;
            }

            .rating-links {
                float: left;
                margin-top: 0;

                a {
                    color: #999999;
                    margin: 0 5px;

                    &:hover {
                        color: $yellow;
                    }
                }
            }
        }

        .product-name {
            margin-bottom: 20px;
            color: #333;
        }

        .product-code,
        .in-stock {
            color: #999999;
            font-size: 13px;

            label {
                color: #666;
            }
        }

        .in-stock {
            color: #58d327;
            padding-bottom: 23px;
            border-bottom: 1px solid #e8e8e8;
            margin-bottom: 10px;
        }
    }



    .order-form-table {
        width: 100%;
        border: 0;
        border-collapse: collapse;
        table-layout: fixed;
        font-size: 13px;
        color: #666;

        .col-label {
            width: 60px;
        }

        .regular-price {
            color: $yellow;
            font-size: 123%;
        }

        .old-price {
            text-decoration: line-through;
            margin-left: 10px;
        }

        td {
            padding: 7px 0;
        }

        .submit-form {
            width: 230px;
            height: 40px;
            color: #fff;
            background-color: $yellow;
            text-align: center;
            padding: 0;
            border: 0;

            &:hover {
                background-color: #f7cd45;
            }
        }
    }

}


.zoomContainer {
    .tintContainer {
        width: 100%!important;

        .zoomLens {
            img {
                width: 350px!important;
                height: 350px!important;
            }
        }

        .zoomTint {
            width: 100%!important;
        }
    }
}

.count-carusel {
    @include flex($alignI: stretch, $justify: flex-start);

    button {
        position: relative;
        width: 36px;
        height: 30px;
        border: 1px solid #e8e8e8;
        background-color: transparent;
        color: #ccc;

        &:hover {
            color: #666;
            background-color: #fbfbfb;
        }
    }

    input {
        width: 160px;
        position: relative;
        border: 1px solid #e8e8e8;
        text-align: center;
    }
}


.options-links {
    list-style: none;
    @include flex($alignI: flex-start, $justify: flex-start);
    margin: 0 -3px;

    li {
        margin: 0 3px;

        a {
            display: inline-block;
            padding: 5px 9px;
            border: 1px solid #ccc;
            color: #666;

            &:hover {
                color: $yellow;
                border-color: $yellow;
            }
        }
    }
}