// COLORS
// ---------------------------
$yellow:                #ffc300;

// FONTS
// ---------------------------
$os:                    'open_sansregular';
$osi:                   'open_sansitalic';
$osb:                   'open_sansbold';
$osl:                   'open_sanslight';
$ossb:                  'open_sanssemibold';

$o:                     'oswald_regularregular';
$ob:                    'oswaldbold';
$om:                    'oswaldmedium';

// RESPONSIVE
// ---------------------------
